# 모듈

In [ ]:
!pip install selenium

In [ ]:
from selenium import webdriver as wd
import time
import pandas as pd 
import random
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [ ]:
chrome_options = wd.ChromeOptions()
chrome_options.add_argument("--incognito")

driver = wd.Chrome('./tool/chromedriver.exe', chrome_options=chrome_options)
driver.implicitly_wait(3)

In [ ]:
target_year = '2019'
target_month = '05'
target_day = '29'

target_site = f'http://www.kbreport.com/teams/pitcher/main?rows=20&order=TPCT&orderType=DESC&teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
driver.get(target_site)

In [ ]:
pre_df_team_p = list()
target_year_ls = ['2015', '2016', '2017', '2018', '2019', '2020']
target_month_ls = ['03', '04', '05', '06', '07', '08', '09', '10', '11']
target_day_ls = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']

# KBReport - Day 기준 투수 메인 기록

In [ ]:
for target_year in target_year_ls :
    for target_month in target_month_ls :
        for target_day in target_day_ls :
            target_site = f'http://www.kbreport.com/teams/pitcher/main?rows=20&order=TPCT&orderType=DESC&teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
            driver.get(target_site)
            random_d = random.randrange(10,15)
            time.sleep(random_d)

            driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr')
            results = list()

            for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                results.append(td.text.split())
                    
            if len(results) > 2 :
                for i in range (1, len(results)-1) :
                        pre_df_team_p.append({
                            "연도" : target_year,
                            "월"   : target_month,
                            "일"   : target_day,
                            "팀명" : results[i][1],
                            '팀승' : results[i][3], 
                            '팀무' : results[i][4], 
                            '팀패' : results[i][5], 
                            'RA/G' : results[i][8], 
                            '실점' : results[i][9], 
                            '자책' : results[i][10], 
                            '피홈런' : results[i][11], 
                            '볼넷%' : results[i][12], 
                            '삼진%' : results[i][13], 
                            'BABIP' : results[i][14], 
                            'LOB%' : results[i][15], 
                            'ERA' : results[i][16], 
                            'RA9-WAR' : results[i][17], 
                            'FIP' : results[i][18],
                            'kFIP' : results[i][19],
                            'WAR' : results[i][20]
                        }) 
        random_m = random.randrange(10,15)
        time.sleep(random_m)
    random_y = random.randrange(10,15)
    time.sleep(random_y)

KeyboardInterrupt:

In [ ]:
target_year = 2015

for target_month in target_month_ls :
    for target_day in target_day_ls :
        target_site = f'http://www.kbreport.com/teams/pitcher/main?rows=20&order=TPCT&orderType=DESC&teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
        driver.get(target_site)
        rd1 = random.randrange(10,15)
        time.sleep(rd1)

        driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr')
        results = list()

        for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
            results.append(td.text.split())
                
        if len(results) > 2 :
            for i in range (1, len(results)-1) :
                    pre_df_team_p.append({
                        "연도" : target_year,
                        "월"   : target_month,
                        "일"   : target_day,
                        "팀명" : results[i][1],
                        '팀승' : results[i][3], 
                        '팀무' : results[i][4], 
                        '팀패' : results[i][5], 
                        'RA/G' : results[i][8], 
                        '실점' : results[i][9], 
                        '자책' : results[i][10], 
                        '피홈런' : results[i][11], 
                        '볼넷%' : results[i][12], 
                        '삼진%' : results[i][13], 
                        'BABIP' : results[i][14], 
                        'LOB%' : results[i][15], 
                        'ERA' : results[i][16], 
                        'RA9-WAR' : results[i][17], 
                        'FIP' : results[i][18],
                        'kFIP' : results[i][19],
                        'WAR' : results[i][20]
                    }) 
    rd2 = random.randrange(10,15)
    time.sleep(rd2)

NameError: name 'target_month_ls' is not defined

In [ ]:
target_year = 2016
pre_df_team_p16 = list()

for target_month in target_month_ls :
    for target_day in target_day_ls :
        target_site = f'http://www.kbreport.com/teams/pitcher/main?rows=20&order=TPCT&orderType=DESC&teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
        driver.get(target_site)
        rd1 = random.randrange(10,15)
        time.sleep(rd1)

        driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr')
        results = list()

        for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
            results.append(td.text.split())
                
        if len(results) > 2 :
            for i in range (1, len(results)-1) :
                    pre_df_team_p16.append({
                        "연도" : target_year,
                        "월"   : target_month,
                        "일"   : target_day,
                        "팀명" : results[i][1],
                        '팀승' : results[i][3], 
                        '팀무' : results[i][4], 
                        '팀패' : results[i][5], 
                        'RA/G' : results[i][8], 
                        '실점' : results[i][9], 
                        '자책' : results[i][10], 
                        '피홈런' : results[i][11], 
                        '볼넷%' : results[i][12], 
                        '삼진%' : results[i][13], 
                        'BABIP' : results[i][14], 
                        'LOB%' : results[i][15], 
                        'ERA' : results[i][16], 
                        'RA9-WAR' : results[i][17], 
                        'FIP' : results[i][18],
                        'kFIP' : results[i][19],
                        'WAR' : results[i][20]
                    })

In [ ]:
target_year = 2017
pre_df_team_p17 = list()

for target_month in target_month_ls :
    for target_day in target_day_ls :
        target_site = f'http://www.kbreport.com/teams/pitcher/main?rows=20&order=TPCT&orderType=DESC&teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
        driver.get(target_site)
        rd1 = random.randrange(10,15)
        time.sleep(rd1)

        results = list()
        for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
            results.append(td.text.split())
                
        if len(results) > 2 :
            for i in range (1, len(results)-1) :
                    pre_df_team_p17.append({
                        "연도" : target_year,
                        "월"   : target_month,
                        "일"   : target_day,
                        "팀명" : results[i][1],
                        '팀승' : results[i][3], 
                        '팀무' : results[i][4], 
                        '팀패' : results[i][5], 
                        'RA/G' : results[i][8], 
                        '실점' : results[i][9], 
                        '자책' : results[i][10], 
                        '피홈런' : results[i][11], 
                        '볼넷%' : results[i][12], 
                        '삼진%' : results[i][13], 
                        'BABIP' : results[i][14], 
                        'LOB%' : results[i][15], 
                        'ERA' : results[i][16], 
                        'RA9-WAR' : results[i][17], 
                        'FIP' : results[i][18],
                        'kFIP' : results[i][19],
                        'WAR' : results[i][20]
                    })

In [ ]:
target_year = 2018
pre_df_team_p18 = list()

for target_month in target_month_ls :
    for target_day in target_day_ls :
        target_site = f'http://www.kbreport.com/teams/pitcher/main?rows=20&order=TPCT&orderType=DESC&teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
        driver.get(target_site)
        rd1 = random.randrange(10,15)
        time.sleep(rd1)

        results = list()
        for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
            results.append(td.text.split())
                
        if len(results) > 2 :
            for i in range (1, len(results)-1) :
                    pre_df_team_p18.append({
                        "연도" : target_year,
                        "월"   : target_month,
                        "일"   : target_day,
                        "팀명" : results[i][1],
                        '팀승' : results[i][3], 
                        '팀무' : results[i][4], 
                        '팀패' : results[i][5], 
                        'RA/G' : results[i][8], 
                        '실점' : results[i][9], 
                        '자책' : results[i][10], 
                        '피홈런' : results[i][11], 
                        '볼넷%' : results[i][12], 
                        '삼진%' : results[i][13], 
                        'BABIP' : results[i][14], 
                        'LOB%' : results[i][15], 
                        'ERA' : results[i][16], 
                        'RA9-WAR' : results[i][17], 
                        'FIP' : results[i][18],
                        'kFIP' : results[i][19],
                        'WAR' : results[i][20]
                    })

In [ ]:
target_year = 2019
pre_df_team_p19 = list()

for target_month in target_month_ls :
    for target_day in target_day_ls :
        target_site = f'http://www.kbreport.com/teams/pitcher/main?rows=20&order=TPCT&orderType=DESC&teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
        driver.get(target_site)

        try:
            element=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

            results = list()
            for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                results.append(td.text.split())

            if len(results) > 2 :
                for i in range (1, len(results)-1) :
                        pre_df_team_p19.append({
                            "연도" : target_year,
                            "월"   : target_month,
                            "일"   : target_day,
                            "팀명" : results[i][1],
                            '팀승' : results[i][3], 
                            '팀무' : results[i][4], 
                            '팀패' : results[i][5], 
                            'RA/G' : results[i][8], 
                            '실점' : results[i][9], 
                            '자책' : results[i][10], 
                            '피홈런' : results[i][11], 
                            '볼넷%' : results[i][12], 
                            '삼진%' : results[i][13], 
                            'BABIP' : results[i][14], 
                            'LOB%' : results[i][15], 
                            'ERA' : results[i][16], 
                            'RA9-WAR' : results[i][17], 
                            'FIP' : results[i][18],
                            'kFIP' : results[i][19],
                            'WAR' : results[i][20]
                        }) 

        except Exception as e: #내가 찾고자하는게 안올라올 수도 있으니까
            print('오류 발생', e)

In [ ]:
target_year = 2015
pre_df_team_p15 = list()

for target_month in target_month_ls :
    for target_day in target_day_ls :
        target_site = f'http://www.kbreport.com/teams/pitcher/main?rows=20&order=TPCT&orderType=DESC&teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
        driver.get(target_site)

        try:
            element=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

            results = list()
            for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                results.append(td.text.split())

            if len(results) > 2 :
                for i in range (1, len(results)-1) :
                        pre_df_team_p15.append({
                            "연도" : target_year,
                            "월"   : target_month,
                            "일"   : target_day,
                            "팀명" : results[i][1],
                            '팀승' : results[i][3], 
                            '팀무' : results[i][4], 
                            '팀패' : results[i][5], 
                            'RA/G' : results[i][8], 
                            '실점' : results[i][9], 
                            '자책' : results[i][10], 
                            '피홈런' : results[i][11], 
                            '볼넷%' : results[i][12], 
                            '삼진%' : results[i][13], 
                            'BABIP' : results[i][14], 
                            'LOB%' : results[i][15], 
                            'ERA' : results[i][16], 
                            'RA9-WAR' : results[i][17], 
                            'FIP' : results[i][18],
                            'kFIP' : results[i][19],
                            'WAR' : results[i][20]
                        }) 

        except Exception as e: #내가 찾고자하는게 안올라올 수도 있으니까
            print('오류 발생', e)

In [ ]:
target_month_ls2 = ['04', '05', '06', '07']

In [ ]:
target_year = 2020
pre_df_team_p20 = list()

for target_month in target_month_ls2 :
    for target_day in target_day_ls :
        target_site = f'http://www.kbreport.com/teams/pitcher/main?rows=20&order=TPCT&orderType=DESC&teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'
        driver.get(target_site)

        try:
            element=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

            results = list()
            for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                results.append(td.text.split())

            if len(results) > 2 :
                for i in range (1, len(results)-1) :
                        pre_df_team_p20.append({
                            "연도" : target_year,
                            "월"   : target_month,
                            "일"   : target_day,
                            "팀명" : results[i][1],
                            '팀승' : results[i][3], 
                            '팀무' : results[i][4], 
                            '팀패' : results[i][5], 
                            'RA/G' : results[i][8], 
                            '실점' : results[i][9], 
                            '자책' : results[i][10], 
                            '피홈런' : results[i][11], 
                            '볼넷%' : results[i][12], 
                            '삼진%' : results[i][13], 
                            'BABIP' : results[i][14], 
                            'LOB%' : results[i][15], 
                            'ERA' : results[i][16], 
                            'RA9-WAR' : results[i][17], 
                            'FIP' : results[i][18],
                            'kFIP' : results[i][19],
                            'WAR' : results[i][20]
                        }) 

        except Exception as e: #내가 찾고자하는게 안올라올 수도 있으니까
            print('오류 발생', e)

In [ ]:
target_years = [2015, 2016, 2017, 2018, 2019, 2020]
pre_df_tmp = list()

for target_year in target_years :
    target_site = f'http://www.kbreport.com/teams/main?rows=20&order=TPCT&orderType=DESC&teamId=&defense_no=&year_from={target_year}&year_to={target_year}&split01=&split02_1=&split02_2='
    driver.get(target_site)

    try:
        element=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

        results = list()
        for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
            results.append(td.text.split())

        if len(results) > 2 :
            for i in range (1, len(results)-1) :
                pre_df_tmp.append({
                    "연도" : target_year,
                    "팀명" : results[i][1],
                    "순위" : results[i][0],
                    '팀승' : results[i][3], 
                    '팀무' : results[i][4], 
                    '팀패' : results[i][5], 
                    '승률' : results[i][6], 
                    '기대승률' : results[i][7]
                }) 

    except Exception as e: #내가 찾고자하는게 안올라올 수도 있으니까
        print('오류 발생', e)

In [ ]:
tmp = pd.DataFrame(pre_df_tmp)
tmp

      연도    팀명  순위  팀승 팀무  팀패     승률   기대승률
0   2015    삼성   1  88  0  56  0.611  0.601
1   2015    NC   2  84  3  57  0.596  0.613
2   2015    두산   3  79  0  65  0.549  0.518
3   2015    넥센   4  78  1  65  0.545  0.561
4   2015    SK   5  69  2  73  0.486  0.480
5   2015    한화   6  68  0  76  0.472  0.450
6   2015   KIA   7  67  0  77  0.465  0.440
7   2015    롯데   8  66  1  77  0.462  0.479
8   2015    LG   9  64  2  78  0.451  0.455
9   2015    kt  10  52  1  91  0.364  0.381
10  2016    두산   1  93  1  50  0.650  0.640
11  2016    NC   2  83  3  58  0.589  0.597
12  2016    넥센   3  77  1  66  0.538  0.532
13  2016    LG   4  71  2  71  0.500  0.488
14  2016   KIA   5  70  1  73  0.490  0.510
15  2016    SK   6  69  0  75  0.479  0.482
16  2016    한화   7  66  3  75  0.468  0.457
17  2016    롯데   8  66  0  78  0.458  0.451
18  2016    삼성   9  65  1  78  0.455  0.491
19  2016    kt  10  53  2  89  0.373  0.358
20  2017   KIA   1  87  1  56  0.608  0.589
21  2017    두산   2  84  3  57  0.596  0.601
22  2017    롯데   3  80  2  62  0.563  0.526
23  2017    NC   4  79  3  62  0.560  0.524
24  2017    SK   5  75  1  68  0.524  0.496
25  2017    LG   6  69  3  72  0.489  0.515
26  2017    넥센   7  69  2  73  0.486  0.515
27  2017    한화   8  61  2  81  0.430  0.452
28  2017    삼성   9  55  5  84  0.396  0.417
29  2017    kt  10  50  0  94  0.347  0.371
30  2018    두산   1  93  0  51  0.646  0.600
31  2018    SK   2  78  1  65  0.545  0.558
32  2018    한화   3  77  0  67  0.535  0.480
33  2018  Hero   4  75  0  69  0.521  0.525
34  2018   KIA   5  70  0  74  0.486  0.521
35  2018    삼성   6  68  4  72  0.486  0.485
36  2018    롯데   7  68  2  74  0.479  0.486
37  2018    LG   8  68  1  75  0.476  0.484
38  2018    KT   9  59  3  82  0.418  0.456
39  2018    NC  10  58  1  85  0.406  0.390
40  2019    두산   1  88  1  55  0.615  0.630
41  2019    SK   2  88  1  55  0.615  0.582
42  2019  Hero   3  86  1  57  0.601  0.637
43  2019    LG   4  79  1  64  0.552  0.506
44  2019    NC   5  73  2  69  0.514  0.530
45  2019    KT   6  71  2  71  0.500  0.492
46  2019   KIA   7  62  2  80  0.437  0.420
47  2019    삼성   8  60  1  83  0.420  0.427
48  2019    한화   9  58  0  86  0.403  0.413
49  2019    롯데  10  48  3  93  0.340  0.376
50  2020    NC   1  44  2  21  0.677  0.629
51  2020    두산   2  40  0  28  0.588  0.551
52  2020   KIA   3  37  0  29  0.561  0.555
53  2020  Hero   4  39  0  31  0.557  0.538
54  2020    LG   5  36  1  31  0.537  0.529
55  2020    KT   6  34  1  33  0.507  0.517
56  2020    삼성   7  34  0  34  0.500  0.527
57  2020    롯데   8  32  0  34  0.485  0.477
58  2020    SK   9  24  0  44  0.353  0.383
59  2020    한화  10  17  0  52  0.246  0.263

In [ ]:
df_tp5 = pd.DataFrame(pre_df_team_p15)
df_tp6 = pd.DataFrame(pre_df_team_p16)
df_tp7 = pd.DataFrame(pre_df_team_p17)
df_tp8 = pd.DataFrame(pre_df_team_p18)
df_tp9= pd.DataFrame(pre_df_team_p19)
df_tp0= pd.DataFrame(pre_df_team_p20)

In [ ]:
df_tp8

,연도,월,일,팀명,팀승,팀무,팀패,RA/G,실점,자책,피홈런,볼넷%,삼진%,BABIP,LOB%,ERA,RA9-WAR,FIP,kFIP,WAR
0,2018,03,24,NC,1,0,0,2.00,2,2,1,3.1,28.1,0.286,90.9,2.00,0.49,3.45,3.08,0.29
1,2018,03,24,Hero,1,0,0,3.00,3,2,0,2.6,23.7,0.464,78.6,2.00,0.33,2.00,1.63,0.37
2,2018,03,24,삼성,1,0,0,3.00,3,3,1,0.0,12.5,0.185,65.2,3.00,0.39,4.23,4.36,0.16
3,2018,03,24,SK,1,0,0,5.00,5,4,0,15.4,30.8,0.333,61.5,4.00,0.24,3.00,2.56,0.38
4,2018,03,24,KT,1,0,0,4.00,4,4,0,4.7,18.6,0.414,75.0,4.00,0.38,3.23,3.14,0.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,2018,10,13,KIA,0,0,1,5.00,5,5,3,8.1,24.3,0.227,88.2,5.00,0.10,7.00,6.75,-0.10
1432,2018,10,13,NC,0,0,1,10.00,10,10,1,10.3,10.3,0.333,36.8,11.25,-0.48,5.79,6.10,-0.05
1433,2018,10,13,Hero,0,0,1,12.00,12,10,4,6.8,18.2,0.483,58.4,11.25,-0.39,9.29,9.07,-0.20
1434,2018,10,14,두산,1,0,0,1.00,1,1,0,5.9,11.8,0.321,90.9,1.00,0.60,3.45,3.68,0.21
1435,2018,10,14,롯데,0,0,1,5.00,5,5,1,5.4,5.4,0.226,62.5,5.00,0.29,5.67,6.19,0.03

In [ ]:
df_team_pit = pd.concat([df_tp5,df_tp6,df_tp7,df_tp8,df_tp9,df_tp0], ignore_index=True)

In [ ]:
df_team_pit.to_csv('kbreport_team_pitcher_day.csv', encoding='cp949')

In [ ]:
tmp.to_csv('kbreport_team_wlr.csv', encoding='cp949')

# KBReport - Day 기준 타자 메인 기록

In [ ]:
pre_df_team_p = list()
target_year_ls = ['2015', '2016', '2017', '2018', '2019', '2020']
target_month_ls = ['03', '04', '05', '06', '07', '08', '09', '10', '11']
target_day_ls = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']

In [ ]:
pre_df_team_hm = list()

for target_year in target_year_ls :
    for target_month in target_month_ls :
        for target_day in target_day_ls :
            target_site = f'http://www.kbreport.com/teams/main?rows=20&order=TPCT&orderType=DESC&teamId=&defense_no=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'

            driver.get(target_site)

            try:
                element=WebDriverWait(driver,60).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

                results = list()
                for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                    results.append(td.text.split())

                if len(results) > 2 :
                    for i in range (1, len(results)-1) :
                            pre_df_team_hm.append({
                                "연도" : target_year,
                                "월"   : target_month,
                                "일"   : target_day,
                                "팀명" : results[i][1],
                                'R/G' : results[i][8], 
                                '득점' : results[i][9], 
                                '홈런' : results[i][10], 
                                '도루' : results[i][11], 
                                '볼넷%' : results[i][12], 
                                '삼진%' : results[i][13], 
                                'BABIP' : results[i][14], 
                                '타율' : results[i][15], 
                                '출루율' : results[i][16], 
                                '장타율' : results[i][17], 
                                'OPS' : results[i][18],
                                'wOBA' : results[i][19]
                            }) 

            except Exception as e:
                print('오류 발생', target_year, target_month, target_day, e)

오류 발생 2016 06 06 Message:

오류 발생 2018 03 19 Message:

오류 발생 2018 03 20 Alert Text: 리스트 조회를 실패하였습니다.
Message: unexpected alert open: {Alert text : 리스트 조회를 실패하였습니다.}
  (Session info: chrome=84.0.4147.89)

오류 발생 2018 03 21 Message:

오류 발생 2019 04 27 Message:

TimeoutException: Message: timeout: Timed out receiving message from renderer: -0.001
  (Session info: chrome=84.0.4147.89)

In [ ]:
pd.DataFrame(pre_df_team_hm)

,연도,월,일,팀명,R/G,득점,홈런,도루,볼넷%,삼진%,BABIP,타율,출루율,장타율,OPS,wOBA
0,2015,03,28,롯데,12.00,12,2,2,7.1,19.0,0.444,0.378,0.439,0.676,1.115,0.479
1,2015,03,28,두산,9.00,9,2,1,14.0,7.0,0.323,0.343,0.429,0.571,1.000,0.427
2,2015,03,28,삼성,6.00,6,0,3,9.5,11.9,0.394,0.342,0.405,0.421,0.826,0.378
3,2015,03,28,KIA,3.00,3,1,2,8.8,14.7,0.280,0.267,0.324,0.467,0.791,0.344
4,2015,03,28,Hero,5.00,5,2,2,13.0,15.2,0.194,0.200,0.304,0.400,0.704,0.315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6023,2019,04,26,Hero,8.00,8,0,0,14.6,19.5,0.308,0.258,0.366,0.387,0.753,0.340
6024,2019,04,26,SK,2.00,2,0,2,15.4,7.7,0.207,0.188,0.333,0.219,0.552,0.282
6025,2019,04,26,KIA,4.00,4,0,0,4.8,14.3,0.412,0.350,0.381,0.475,0.856,0.384
6026,2019,04,26,롯데,8.00,8,0,0,15.9,15.9,0.276,0.229,0.364,0.314,0.678,0.326
6027,2019,04,26,KT,0.00,0,0,0,3.1,21.9,0.208,0.161,0.188,0.161,0.349,0.166

In [ ]:
pre_df_team_hm2 = list()
target_year_ls = ['2019', '2020']
target_month_ls = ['04', '05', '06', '07', '08', '09', '10', '11']
target_day_ls = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']

for target_year in target_year_ls :
    for target_month in target_month_ls :
        for target_day in target_day_ls :
            target_site = f'http://www.kbreport.com/teams/main?rows=20&order=TPCT&orderType=DESC&teamId=&defense_no=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'

            driver.get(target_site)

            try:
                element=WebDriverWait(driver,60).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

                results = list()
                for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                    results.append(td.text.split())

                if len(results) > 2 :
                    for i in range (1, len(results)-1) :
                            pre_df_team_hm2.append({
                                "연도" : target_year,
                                "월"   : target_month,
                                "일"   : target_day,
                                "팀명" : results[i][1],
                                'R/G' : results[i][8], 
                                '득점' : results[i][9], 
                                '홈런' : results[i][10], 
                                '도루' : results[i][11], 
                                '볼넷%' : results[i][12], 
                                '삼진%' : results[i][13], 
                                'BABIP' : results[i][14], 
                                '타율' : results[i][15], 
                                '출루율' : results[i][16], 
                                '장타율' : results[i][17], 
                                'OPS' : results[i][18],
                                'wOBA' : results[i][19]
                            }) 

            except Exception as e:
                print('오류 발생', target_year, target_month, target_day, e)

오류 발생 2020 05 26 Message:

In [ ]:
pd.DataFrame(pre_df_team_hm2)

,연도,월,일,팀명,R/G,득점,홈런,도루,볼넷%,삼진%,BABIP,타율,출루율,장타율,OPS,wOBA
0,2019,04,02,Hero,8.00,8,1,1,13.6,27.3,0.480,0.342,0.432,0.500,0.932,0.420
1,2019,04,02,두산,9.00,9,1,1,12.5,12.5,0.310,0.303,0.375,0.485,0.860,0.372
2,2019,04,02,롯데,5.00,5,1,1,9.5,16.7,0.321,0.278,0.381,0.444,0.825,0.374
3,2019,04,02,KIA,4.00,4,0,1,14.3,21.4,0.280,0.212,0.357,0.333,0.690,0.329
4,2019,04,02,한화,6.00,6,1,1,13.5,16.2,0.208,0.200,0.324,0.367,0.691,0.315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,2020,07,28,롯데,11.00,11,2,0,17.4,13.0,0.414,0.389,0.489,0.639,1.128,0.479
2018,2020,07,28,Hero,6.00,6,1,0,11.6,14.0,0.250,0.235,0.357,0.382,0.739,0.330
2019,2020,07,28,NC,9.00,9,2,2,8.7,15.2,0.455,0.405,0.457,0.619,1.076,0.470
2020,2020,07,28,두산,2.00,2,1,0,5.3,10.5,0.258,0.250,0.289,0.389,0.678,0.301
2021,2020,07,28,SK,7.00,7,2,0,12.2,24.4,0.273,0.235,0.366,0.500,0.866,0.382

In [ ]:
target_year_ls = ['2015', '2016', '2017', '2018', '2019', '2020']
target_month_ls = ['03', '04', '05', '06', '07', '08', '09', '10', '11']
target_day_ls = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']

pre_df_team_hsd = list()

for target_year in target_year_ls :
    for target_month in target_month_ls :
        for target_day in target_day_ls :
            target_site = f'http://www.kbreport.com/teams/main?rows=20&order=TPCT&orderType=DESC&teamId=&defense_no=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'

            driver.get(target_site)

            try:
                element=WebDriverWait(driver,60).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

                results = list()
                for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                    results.append(td.text.split())

                if len(results) > 2 :
                    for i in range (1, len(results)-1) :
                            pre_df_team_hm3.append({
                                "연도" : target_year,
                                "월"   : target_month,
                                "일"   : target_day,
                                "팀명" : results[i][1],
                                'R/G' : results[i][8], 
                                '득점' : results[i][9], 
                                '홈런' : results[i][10], 
                                '도루' : results[i][11], 
                                '볼넷%' : results[i][12], 
                                '삼진%' : results[i][13], 
                                'BABIP' : results[i][14], 
                                '타율' : results[i][15], 
                                '출루율' : results[i][16], 
                                '장타율' : results[i][17], 
                                'OPS' : results[i][18],
                                'wOBA' : results[i][19]
                            }) 

            except Exception as e:
                print('오류 발생', target_year, target_month, target_day, e)

KeyboardInterrupt:

In [ ]:
pd.DataFrame(pre_df_team_hm3)

In [ ]:
pd.DataFrame(pre_df_team_hm3)

,연도,월,일,팀명,R/G,득점,홈런,도루,볼넷%,삼진%,BABIP,타율,출루율,장타율,OPS,wOBA
0,2016,04,06,롯데,11.00,11,3,1,6.4,6.4,0.500,0.519,0.567,0.963,1.530,0.642
1,2016,04,06,삼성,11.00,11,0,2,10.6,6.4,0.368,0.341,0.413,0.463,0.876,0.398
2,2016,04,06,Hero,6.00,6,0,0,17.5,30.0,0.300,0.188,0.350,0.250,0.600,0.301
3,2016,04,06,두산,2.00,2,1,0,3.1,25.0,0.190,0.167,0.219,0.267,0.486,0.223
4,2016,04,06,한화,4.00,4,2,1,0.0,13.9,0.321,0.314,0.314,0.571,0.885,0.378
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,2020,06,27,한화,2.00,2,0,1,8.3,16.7,0.259,0.212,0.278,0.212,0.490,0.239
574,2020,06,27,롯데,1.00,1,0,0,11.8,26.5,0.286,0.207,0.294,0.207,0.501,0.247
575,2020,06,27,NC,3.00,3,2,0,2.9,20.0,0.167,0.182,0.229,0.394,0.623,0.270
576,2020,06,27,SK,0.00,0,0,0,6.2,18.8,0.125,0.100,0.156,0.100,0.256,0.131
577,2020,06,27,KIA,0.00,0,0,0,3.3,16.7,0.083,0.069,0.100,0.138,0.238,0.109

In [ ]:
pd.DataFrame(pre_df_team_hm)

,연도,월,일,팀명,R/G,득점,홈런,도루,볼넷%,삼진%,BABIP,타율,출루율,장타율,OPS,wOBA
0,2015,03,28,KIA,1.00,1,1,0,11.8,17.6,0.304,90.9,1.00,0.61,3.67,3.78
1,2015,03,28,삼성,1.00,1,1,0,13.9,22.2,0.217,90.0,1.00,0.58,3.56,3.51
2,2015,03,28,Hero,4.00,4,4,0,13.0,13.0,0.278,77.8,3.00,0.63,4.50,4.81
3,2015,03,28,두산,4.00,4,4,0,10.5,21.1,0.360,71.4,4.00,0.20,3.56,3.52
4,2015,03,28,롯데,9.00,9,9,2,17.4,17.4,0.462,69.3,9.00,-0.03,7.78,7.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7859,2020,07,28,LG,7.00,7,7,2,12.2,24.4,0.273,65.6,7.00,-0.02,6.67,6.54
7860,2020,07,28,롯데,9.00,9,8,2,8.7,15.2,0.455,65.9,8.00,-0.17,6.34,6.35
7861,2020,07,28,두산,6.00,6,5,1,11.6,14.0,0.250,66.2,5.00,0.08,5.78,6.03
7862,2020,07,28,NC,11.00,11,11,2,17.4,13.0,0.414,57.3,11.42,-0.57,7.71,7.98
7863,2020,07,28,SK,24.00,24,24,6,12.1,10.3,0.459,33.9,24.00,-0.89,13.67,14.05

In [ ]:
pd.DataFrame(pre_df_team_hm)

,연도,월,일,팀명,R/G,득점,홈런,도루,볼넷%,삼진%,BABIP,타율,출루율,장타율,OPS,wOBA
0,2018,07,01,Hero,3.00,3,2,0,0.0,25.0,0.250,0.229,0.250,0.429,0.679,0.293
1,2018,07,01,삼성,1.00,1,0,0,5.7,11.4,0.241,0.212,0.257,0.212,0.469,0.225
2,2018,07,03,KIA,9.00,9,1,2,5.1,12.8,0.433,0.400,0.421,0.600,1.021,0.441
3,2018,07,03,NC,13.00,13,1,2,5.8,15.4,0.447,0.383,0.431,0.532,0.963,0.432
4,2018,07,03,SK,9.00,9,4,1,9.8,22.0,0.304,0.314,0.375,0.714,1.089,0.446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,2018,07,31,한화,4.00,4,2,0,7.9,23.7,0.333,0.286,0.342,0.486,0.828,0.353
214,2018,07,31,롯데,1.00,1,0,0,6.4,32.3,0.167,0.107,0.167,0.143,0.310,0.152
215,2018,07,31,SK,1.00,1,0,0,11.8,26.5,0.143,0.100,0.206,0.100,0.306,0.166
216,2018,07,31,NC,4.00,4,1,5,9.8,25.5,0.355,0.267,0.353,0.356,0.709,0.330
217,2018,07,31,삼성,4.00,4,0,2,10.0,18.0,0.314,0.250,0.327,0.250,0.577,0.280

In [ ]:
data1 = pd.DataFrame(pre_df_team_hm)
data2 = pd.DataFrame(pre_df_team_hm2)
data3 = pd.DataFrame(pre_df_team_hm3)

In [ ]:
data_f = pd.concat([data1, data2, data3])

NameError: name 'pd' is not defined

In [ ]:
data_f.to_csv('kbreport_hit_day.csv', encoding='cp949')

# kbreport hit standard day

In [ ]:
target_year_ls = ['2015', '2016', '2017', '2018', '2019', '2020']
target_month_ls = ['03', '04', '05', '06', '07', '08', '09', '10']
target_day_ls = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']

In [ ]:
pre_df_team_hsd = list()

for target_year in target_year_ls :
    for target_month in target_month_ls :
        for target_day in target_day_ls :
            target_site = f'http://www.kbreport.com/teams/standard?rows=20&order=HBP&orderType=DESC&teamId=&defense_no=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'

            driver.get(target_site)

            try:
                element=WebDriverWait(driver,60).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

                results = list()
                for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                    results.append(td.text.split())

                if len(results) > 2 :
                    for i in range (1, len(results)-1) :
                            pre_df_team_hsd.append({
                                "연도" : target_year,
                                "월"   : target_month,
                                "일"   : target_day,
                                "팀명" : results[i][1],
                                "경기" : results[i][2],
                                "타석" : results[i][3],
                                "타수" : results[i][4],
                                "안타" : results[i][5],
                                "단타" : results[i][6],
                                "2루타" : results[i][7],
                                "3루타" : results[i][8],
                                "홈런" : results[i][9],
                                "득점" : results[i][10],
                                "타점" : results[i][11],
                                "볼넷" : results[i][12],
                                "고의4구" : results[i][13],
                                "사구" : results[i][14],
                                "삼진" : results[i][15],
                                "희생플라이" : results[i][16],
                                "희생타" : results[i][17],
                                "병살" : results[i][18],
                                "도루" : results[i][19],
                                "도실" : results[i][20],
                                "타율" : results[i][21]
                            }) 

            except Exception as e:
                print('오류 발생', target_year, target_month, target_day, e)

In [ ]:
pd.DataFrame(pre_df_team_hsd).to_csv('kbreport_hit_standard_day.csv', encoding='cp949')

In [ ]:
pre_df_team_hsd

In [ ]:
pre_df_team_had = list()

for target_year in target_year_ls :
    for target_month in target_month_ls :
        for target_day in target_day_ls :
            target_site = f'http://www.kbreport.com/teams/advanced?rows=20&order=TPCT&orderType=DESC&teamId=&defense_no=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'

            driver.get(target_site)

            try:
                element=WebDriverWait(driver,60).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

                results = list()
                for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                    results.append(td.text.split())

                if len(results) > 2 :
                    for i in range (1, len(results)-1) :
                            pre_df_team_had.append({
                                "연도" : target_year,
                                "월"   : target_month,
                                "일"   : target_day,
                                "팀명" : results[i][1],
                                "경기" : results[i][2],
                                "타석" : results[i][3],
                                "타율" : results[i][4],
                                "BABIP" : results[i][5],
                                "볼넷%" : results[i][6],
                                "삼진%" : results[i][7],
                                "볼/삼" : results[i][8],
                                "ISO" : results[i][9],
                                "타수/홈런" : results[i][10],
                                "OPS" : results[i][11],
                                "RC" : results[i][12],
                                "RC/27" : results[i][13],
                                "wRC" : results[i][14],
                                "SPD" : results[i][15],
                                "wSB" : results[i][16],
                                "wOBA" : results[i][17],
                                "wRAA" : results[i][18]
                            }) 

            except Exception as e:
                print('오류 발생', target_year, target_month, target_day, e)

In [ ]:
pd.DataFrame(pre_df_team_had)

,연도,월,일,팀명,경기,타석,타율,BABIP,볼넷%,삼진%,...,ISO,타수/홈런,OPS,RC,RC/27,wRC,SPD,wSB,wOBA,wRAA
0,2015,03,28,롯데,1,42,0.378,0.444,7.1,19.0,...,0.298,18.50,1.115,10.51,10.92,10.43,5.63,0.36,0.479,5.04
1,2015,03,28,두산,1,43,0.343,0.323,14.0,7.0,...,0.228,17.50,1.000,9.57,10.77,8.66,8.53,0.21,0.427,3.13
2,2015,03,28,삼성,1,42,0.342,0.394,9.5,11.9,...,0.079,-,0.826,7.53,8.13,6.59,5.59,0.54,0.378,1.20
3,2015,03,28,KIA,1,34,0.267,0.280,8.8,14.7,...,0.200,30.00,0.791,4.81,5.41,4.28,7.25,0.36,0.344,-0.09
4,2015,03,28,Hero,1,46,0.200,0.194,13.0,15.2,...,0.200,20.00,0.704,5.26,4.30,4.56,3.56,0.36,0.315,-1.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7863,2020,07,28,SK,1,41,0.235,0.273,12.2,24.4,...,0.265,17.00,0.866,6.43,6.43,6.56,2.77,0.03,0.382,1.29
7864,2020,07,29,한화,1,49,0.409,0.459,6.1,14.3,...,0.091,44.00,0.949,10.10,9.74,9.82,3.60,0.06,0.426,3.53
7865,2020,07,29,LG,1,45,0.361,0.385,17.8,15.6,...,0.250,12.00,1.100,11.05,11.93,11.26,2.03,0.22,0.481,5.47
7866,2020,07,29,SK,1,44,0.350,0.323,6.8,11.4,...,0.325,10.00,1.084,11.90,12.35,10.24,4.28,0.37,0.462,4.59
7867,2020,07,29,삼성,1,44,0.265,0.280,18.2,15.9,...,0.206,17.00,0.903,7.39,7.39,8.18,3.14,0.21,0.410,2.53

In [ ]:
pd.DataFrame(pre_df_team_had).to_csv('kbreport_hit_advanced_day.csv', encoding='cp949')

In [ ]:
pre_df_team_psd = list()

for target_year in target_year_ls :
    for target_month in target_month_ls :
        for target_day in target_day_ls :
            target_site = f'http://www.kbreport.com/teams/pitcher/standard?teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'


            driver.get(target_site)

            try:
                element=WebDriverWait(driver,60).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

                results = list()
                for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                    results.append(td.text.split())

                if len(results) > 2 :
                    for i in range (1, len(results)-1) :
                            pre_df_team_psd.append({
                                "연도" : target_year,
                                "월"   : target_month,
                                "일"   : target_day,
                                "팀명" : results[i][1],
                                "경기" : results[i][2],
                                "승" : results[i][3],
                                "패" : results[i][4],
                                "세이브" : results[i][5],
                                "홀드" : results[i][6],
                                "블론" : results[i][7],
                                "QS" : results[i][8],
                                "이닝" : results[i][9],
                                "타자" : results[i][10],
                                "안타" : results[i][11],
                                "2루타" : results[i][12],
                                "3루타" : results[i][13],
                                "홈런" : results[i][14],
                                "실점" : results[i][15],
                                "자책" : results[i][16],
                                "삼진" : results[i][17],
                                "볼넷" : results[i][18],
                                "고의4구" : results[i][19],
                                "사구" : results[i][20],
                                "폭투" : results[i][21],
                                "보크" : results[i][22],
                                "PK" : results[i][23],
                                "도루" : results[i][24],
                                "도실" : results[i][25]
                            }) 

            except Exception as e:
                print('오류 발생', target_year, target_month, target_day, e)

In [ ]:
pd.DataFrame(pre_df_team_psd)

,연도,월,일,팀명,경기,승,패,세이브,홀드,블론,...,자책,삼진,볼넷,고의4구,사구,폭투,보크,PK,도루,도실
0,2015,03,28,삼성,1,1,0,0,1,0,...,1,8,5,0,0,0,0,0,0,1
1,2015,03,28,KIA,1,1,0,1,0,0,...,1,6,4,0,0,1,0,0,0,0
2,2015,03,28,Hero,1,1,0,0,0,0,...,4,7,7,0,1,0,0,0,4,0
3,2015,03,28,두산,1,1,0,0,2,0,...,4,8,4,0,1,0,1,0,2,2
4,2015,03,28,롯데,1,1,0,0,2,0,...,9,8,8,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7863,2020,07,28,SK,1,0,1,0,0,0,...,24,6,7,1,2,3,0,0,0,0
7864,2020,07,29,LG,1,1,0,0,1,0,...,6,5,3,0,1,0,0,0,2,0
7865,2020,07,29,한화,1,1,0,0,1,0,...,7,7,8,0,2,0,0,0,1,1
7866,2020,07,29,삼성,1,0,1,0,0,0,...,5,7,3,0,1,0,0,0,0,0
7867,2020,07,29,SK,1,0,1,0,0,0,...,11,7,8,0,1,0,0,1,1,0

In [ ]:
pd.DataFrame(pre_df_team_psd).to_csv('kbreport_pit_standard_day.csv', encoding='cp949')

In [ ]:
pre_df_team_pad = list()

for target_year in target_year_ls :
    for target_month in target_month_ls :
        for target_day in target_day_ls :
            target_site = f'http://www.kbreport.com/teams/pitcher/advanced?teamId=&pitcher_type=&year_from=2015&year_to=2020&split01=day&split02_1={target_year}-{target_month}-{target_day}&split02_2={target_year}-{target_month}-{target_day}'


            driver.get(target_site)

            try:
                element=WebDriverWait(driver,60).until(EC.presence_of_element_located((By.CLASS_NAME, 'ltb-table')))

                results = list()
                for td in driver.find_elements_by_css_selector('#resultListDiv > table > tbody > tr') :
                    results.append(td.text.split())

                if len(results) > 2 :
                    for i in range (1, len(results)-1) :
                            pre_df_team_pad.append({
                                "연도" : target_year,
                                "월"   : target_month,
                                "일"   : target_day,
                                "팀명" : results[i][1],
                                "경기" : results[i][2],
                                "QS" : results[i][3],
                                "완투" : results[i][4],
                                "완봉" : results[i][5],
                                "삼진/9" : results[i][6],
                                "볼넷/9" : results[i][7],
                                "홈런/9" : results[i][8],
                                "삼/볼" : results[i][9],
                                "피안타율" : results[i][10],
                                "피출루율" : results[i][11],
                                "피장타율" : results[i][12],
                                "피OPS" : results[i][13],
                                "WHIP" : results[i][14],
                                "BABIP" : results[i][15],
                                "LOB%" : results[i][16],
                                "ERA" : results[i][17],
                                "RA9-WAR" : results[i][18],
                                "FIP" : results[i][19],
                                "kFIP" : results[i][20],
                                "WAR" : results[i][21]
                            }) 

            except Exception as e:
                print('오류 발생', target_year, target_month, target_day, e)

In [ ]:
pd.DataFrame(pre_df_team_pad)

,연도,월,일,팀명,경기,QS,완투,완봉,삼진/9,볼넷/9,...,피장타율,피OPS,WHIP,BABIP,LOB%,ERA,RA9-WAR,FIP,kFIP,WAR
0,2015,03,28,KIA,1,1,0,0,6.00,4.00,...,0.379,0.713,1.22,0.304,90.9,1.00,0.61,3.67,3.78,0.18
1,2015,03,28,삼성,1,1,0,0,8.00,5.00,...,0.258,0.536,1.11,0.217,90.0,1.00,0.58,3.56,3.51,0.18
2,2015,03,28,Hero,1,0,0,0,5.25,5.25,...,0.286,0.639,1.42,0.278,77.8,3.00,0.63,4.50,4.81,0.14
3,2015,03,28,두산,1,0,0,0,8.00,4.00,...,0.290,0.659,1.44,0.360,71.4,4.00,0.20,3.56,3.52,0.27
4,2015,03,28,롯데,1,0,0,0,8.00,8.00,...,0.600,1.111,2.44,0.462,69.3,9.00,-0.03,7.78,7.96,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7863,2020,07,28,SK,1,0,0,0,6.00,7.00,...,0.939,1.490,3.33,0.459,33.9,24.00,-0.89,13.67,14.05,-0.33
7864,2020,07,29,LG,1,0,0,0,5.00,3.00,...,0.675,1.084,1.89,0.323,96.8,6.00,0.20,9.67,9.93,-0.17
7865,2020,07,29,한화,1,0,0,0,7.00,8.00,...,0.471,0.902,1.89,0.280,74.1,7.00,0.05,8.34,8.69,-0.27
7866,2020,07,29,삼성,1,0,0,0,7.00,3.00,...,0.500,0.949,2.33,0.459,48.5,5.00,-0.50,4.89,4.91,0.03
7867,2020,07,29,SK,1,0,0,0,7.00,8.00,...,0.611,1.100,2.33,0.385,61.8,11.00,-0.39,9.45,9.74,-0.36

In [ ]:
pd.DataFrame(pre_df_team_pad).to_csv('kbreport_pit_advanced_day.csv', encoding='cp949')

# kbo 2001-2020 투수

In [ ]:
yrs = list()
for i in range(2001, 2021) : yrs.append(i)
pre_df = list()

target_site = f'https://www.koreabaseball.com/Record/Team/Pitcher/Basic1.aspx'
driver.get(target_site)

for yr in yrs :
    try:
        yr_sel = driver.find_element_by_class_name('select03')
        yr_sel.send_keys(yr)
        time.sleep(1)

        results = list()
        for tr in driver.find_elements_by_css_selector
        ('#cphContents_cphContents_cphContents_udpContent > div > table > tbody') :
            results.append(tr.text.split())

        result = results[0]
        c1 = result.count('1/3')
        c2 = result.count('2/3')
        for i in range(0,c1) :
            result.remove('1/3')
        for i in range(0,c2) :
            result.remove('2/3')
        rg = int(len(result)/18)

        for i in range (0, rg) :
            pre_df.append({
                "연도" : yr,
                "팀명" : result[18 * i + 1],
                "평균자책점" : result[18 * i + 2],
                '경기' : result[18 * i + 3], 
                '승리' : result[18 * i + 4], 
                '패배' : result[18 * i + 5], 
                '세이브' : result[18 * i + 6], 
                '홀드' : result[18 * i + 7],
                '승률' : result[18 * i + 8],
                '이닝' : result[18 * i + 9],
                '피안타' : result[18 * i + 10],
                '홈런' : result[18 * i + 11],
                '볼넷' : result[18 * i + 12],
                '사구' : result[18 * i + 13],
                '삼진' : result[18 * i + 14],
                '실점' : result[18 * i + 15],
                '자책점' : result[18 * i + 16],
                '이닝당출루허용률' : result[18 * i + 17]
            })

    except Exception as e: #내가 찾고자하는게 안올라올 수도 있으니까
        print('오류 발생', e)

In [ ]:
data1 = pd.DataFrame(pre_df)
data1

,연도,팀명,평균자책점,경기,승리,패배,세이브,홀드,승률,이닝,피안타,홈런,볼넷,사구,삼진,실점,자책점,이닝당출루허용률
0,2001,현대,4.34,133,72,57,39,23,0.558,1183,1250,98,531,54,757,628,570,1.51
1,2001,SK,4.38,133,60,71,33,22,0.458,1171,1148,155,508,65,908,640,570,1.41
2,2001,삼성,4.39,133,81,52,43,20,0.609,1187,1195,132,561,61,844,644,579,1.48
3,2001,롯데,4.68,133,59,70,33,28,0.457,1171,1238,128,523,61,790,670,609,1.50
4,2001,한화,4.82,133,61,68,25,33,0.473,1185,1288,142,541,66,813,733,634,1.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2020,롯데,4.80,66,32,34,12,35,0.485,590,613,76,215,23,452,342,315,1.40
170,2020,SK,4.85,69,24,44,12,32,0.353,606,625,61,293,35,475,361,327,1.51
171,2020,두산,4.90,68,40,28,15,23,0.588,606,696,50,222,26,451,368,330,1.51
172,2020,KT,5.29,68,34,33,12,25,0.507,605,661,69,239,30,399,375,356,1.49
173,2020,한화,5.54,70,17,52,7,22,0.246,609,715,84,283,43,531,417,375,1.64

In [ ]:
yrs = list()
for i in range(2001, 2021) : yrs.append(i)
pre_df = list()

target_site = f'https://www.koreabaseball.com/Record/Team/Pitcher/Basic2.aspx'
driver.get(target_site)

for yr in yrs :
    try:
        yr_sel = driver.find_element_by_class_name('select03')
        yr_sel.send_keys(yr)
        time.sleep(1)

        results = list()
        for tr in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_udpContent > div > table > tbody') :
            results.append(tr.text.split())

        result = results[0]
        c1 = result.count('1/3')
        c2 = result.count('2/3')
        for i in range(0,c1) :
            result.remove('1/3')
        for i in range(0,c2) :
            result.remove('2/3')
        rg = int(len(result)/17)

        for i in range (0, rg) :
            pre_df.append({
                "연도" : yr,
                "팀명" : result[17 * i + 1],
                "평균자책점" : result[17 * i + 2],
                '완투' : result[17 * i + 3], 
                '완봉' : result[17 * i + 4], 
                'QS' : result[17 * i + 5], 
                '블론' : result[17 * i + 6], 
                '타자수' : result[17 * i + 7],
                '투구수' : result[17 * i + 8],
                '피안타율' : result[17 * i + 9],
                '2루타' : result[17 * i + 10],
                '3루타' : result[17 * i + 11],
                '희생번트' : result[17 * i + 12],
                '희생플라이' : result[17 * i + 13],
                '고의4구' : result[17 * i + 14],
                '폭투' : result[17 * i + 15],
                '보크' : result[17 * i + 16]
            })

    except Exception as e: #내가 찾고자하는게 안올라올 수도 있으니까
        print('오류 발생', e)

In [ ]:
data2 = pd.DataFrame(pre_df)
data2

,연도,팀명,평균자책점,완투,완봉,QS,블론,타자수,투구수,피안타율,2루타,3루타,희생번트,희생플라이,고의4구,폭투,보크
0,2001,현대,4.34,6,3,56,0,5218,20097,0.277,219,26,78,37,8,54,1
1,2001,SK,4.38,11,8,61,0,5110,19710,0.259,217,9,76,34,31,54,1
2,2001,삼성,4.39,7,6,51,0,5243,20128,0.265,207,13,76,37,20,38,8
3,2001,롯데,4.68,0,3,43,0,5189,19593,0.276,251,22,86,38,23,53,2
4,2001,한화,4.82,7,5,49,0,5331,20774,0.280,238,26,73,45,44,57,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2020,롯데,4.80,0,7,25,9,2558,9881,0.271,106,5,25,29,9,40,1
170,2020,SK,4.85,0,2,29,13,2702,10685,0.268,114,8,21,20,4,44,2
171,2020,두산,4.90,0,2,31,5,2706,10518,0.288,139,12,19,26,9,26,1
172,2020,KT,5.29,0,1,29,13,2678,10179,0.279,105,3,19,23,8,32,1
173,2020,한화,5.54,1,1,20,10,2818,11043,0.293,122,14,27,24,15,38,3

In [ ]:
tmp = pd.merge(data1, data2, on = ['연도', '팀명', '평균자책점'])

In [ ]:
tmp.to_csv('kbo_2001_2020_pitcher.csv', encoding='cp949')

# kbo 2001-2020 타자

In [ ]:
yrs = list()
for i in range(2001, 2021) : yrs.append(i)
pre_df = list()

target_site = f'https://www.koreabaseball.com/Record/Team/Hitter/Basic1.aspx'
driver.get(target_site)

for yr in yrs :
    try:
        yr_sel = driver.find_element_by_class_name('select03')
        yr_sel.send_keys(yr)
        time.sleep(1)

        results = list()
        for tr in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_udpContent > div > table > tbody') :
            results.append(tr.text.split())

        result = results[0]
        rg = int(len(result)/15)

        for i in range (0, rg) :
            pre_df.append({
                "연도" : yr,
                "팀명" : result[15 * i + 1],
                "타율" : result[15 * i + 2],
                '경기' : result[15 * i + 3], 
                '타석' : result[15 * i + 4], 
                '타수' : result[15 * i + 5], 
                '득점' : result[15 * i + 6], 
                '안타' : result[15 * i + 7],
                '2루타' : result[15 * i + 8],
                '3루타' : result[15 * i + 9],
                '홈런' : result[15 * i + 10],
                '루타' : result[15 * i + 11],
                '타점' : result[15 * i + 12],
                '희생번트' : result[15 * i + 13],
                '희생플라이' : result[15 * i + 14]
            })

    except Exception as e: #내가 찾고자하는게 안올라올 수도 있으니까
        print('오류 발생', e)

In [ ]:
data1 = pd.DataFrame(pre_df)
data1

,연도,팀명,타율,경기,타석,타수,득점,안타,2루타,3루타,홈런,루타,타점,희생번트,희생플라이
0,2001,롯데,0.280,133,5308,4521,718,1265,247,24,121,1923,671,82,60
1,2001,KIA,0.278,133,5189,4542,683,1263,221,17,142,1944,637,51,43
2,2001,삼성,0.277,133,5280,4553,739,1262,244,21,162,2034,695,69,42
3,2001,두산,0.276,133,5303,4583,732,1266,221,26,130,1929,688,54,46
4,2001,LG,0.276,133,5319,4521,669,1247,219,24,85,1769,630,114,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2020,삼성,0.274,68,2611,2301,358,631,119,5,63,949,340,23,29
170,2020,롯데,0.274,66,2600,2303,325,630,120,2,54,916,306,19,20
171,2020,키움,0.269,70,2761,2387,384,643,118,16,76,1021,359,15,29
172,2020,SK,0.246,69,2614,2315,279,570,71,10,63,850,264,25,15
173,2020,한화,0.235,70,2586,2306,239,542,97,3,37,756,229,18,9

In [ ]:
yrs = list()
for i in range(2001, 2021) : yrs.append(i)
pre_df = list()

target_site = f'https://www.koreabaseball.com/Record/Team/Hitter/Basic2.aspx'
driver.get(target_site)

for yr in yrs :
    try:
        yr_sel = driver.find_element_by_class_name('select03')
        yr_sel.send_keys(yr)
        time.sleep(1)

        results = list()
        for tr in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_udpContent > div > table > tbody') :
            results.append(tr.text.split())

        result = results[0]
        rg = int(len(result)/14)

        for i in range (0, rg) :
            pre_df.append({
                "연도" : yr,
                "팀명" : result[14 * i + 1],
                "타율" : result[14 * i + 2],
                '볼넷' : result[14 * i + 3], 
                '고의4구' : result[14 * i + 4], 
                '사구' : result[14 * i + 5], 
                '삼진' : result[14 * i + 6], 
                '병살타' : result[14 * i + 7],
                '장타율' : result[14 * i + 8],
                '출루율' : result[14 * i + 9],
                'OPS' : result[14 * i + 10],
                '멀티히트' : result[14 * i + 11],
                '득점권타율' : result[14 * i + 12],
                '대타타율' : result[14 * i + 13]
            })

    except Exception as e: #내가 찾고자하는게 안올라올 수도 있으니까
        print('오류 발생', e)

In [ ]:
data2 = pd.DataFrame(pre_df)
data2

,연도,팀명,타율,볼넷,고의4구,사구,삼진,병살타,장타율,출루율,OPS,멀티히트,득점권타율,대타타율
0,2001,롯데,0.280,585,39,60,817,89,0.425,0.365,0.790,133,0.288,0.244
1,2001,KIA,0.278,497,21,56,774,129,0.428,0.353,0.781,133,0.272,0.225
2,2001,삼성,0.277,520,27,95,814,111,0.447,0.360,0.807,133,0.267,0.223
3,2001,두산,0.276,560,27,60,697,116,0.421,0.359,0.780,133,0.278,0.163
4,2001,LG,0.276,590,24,52,759,100,0.391,0.363,0.754,133,0.280,0.263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2020,삼성,0.274,227,2,31,463,58,0.412,0.344,0.756,68,0.296,0.307
170,2020,롯데,0.274,230,9,28,413,61,0.398,0.344,0.742,66,0.277,0.236
171,2020,키움,0.269,297,7,33,521,52,0.428,0.354,0.782,70,0.294,0.236
172,2020,SK,0.246,232,8,27,500,59,0.367,0.320,0.687,69,0.251,0.216
173,2020,한화,0.235,223,3,30,511,71,0.328,0.310,0.638,70,0.231,0.168

In [ ]:
tmp = pd.merge(data1, data2, on=['연도', '팀명', '타율'])

In [ ]:
tmp.to_csv('kbo_2001_2020_hitter.csv', encoding='cp949')

# kbo 2001-2020 수비

In [ ]:
yrs = list()
for i in range(2001, 2021) : yrs.append(i)
pre_df = list()

target_site = f'https://www.koreabaseball.com/Record/Team/Defense/Basic.aspx'
driver.get(target_site)

for yr in yrs :
    yr_sel = driver.find_element_by_class_name('select03')
    yr_sel.send_keys(yr)
    time.sleep(1)

    results = list()
    for tr in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_udpContent > div > table > tbody') :
        results.append(tr.text.split())

    result = results[0]
    rg = int(len(result)/13)

    for i in range (0, rg) :
        pre_df.append({
            "연도" : yr,
            "팀명" : result[13 * i + 1],
            "경기" : result[13 * i + 2],
            '실책' : result[13 * i + 3], 
            '견제사' : result[13 * i + 4], 
            '자살' : result[13 * i + 5], 
            '보살' : result[13 * i + 6], 
            '병살' : result[13 * i + 7],
            '수비율' : result[13 * i + 8],
            '포일' : result[13 * i + 9],
            '도루허용' : result[13 * i + 10],
            '도루실패' : result[13 * i + 11],
            '도루저지율' : result[13 * i + 12]
        })

In [ ]:
data = pd.DataFrame(pre_df)
data

       연도   팀명   경기   실책 견제사    자살    보살   병살    수비율  포일 도루허용 도루실패 도루저지율
0    2001   삼성  133   79   7  3562  1365  112  0.984  10   95   48  33.6
1    2001   한화  133  117   2  3555  1413  130  0.977   9  111   48  30.2
2    2001   LG  133  103  12  3554  1485  129  0.980  16  110   55  33.3
3    2001   현대  133  116   6  3550  1553  147  0.978   5   96   69  41.8
4    2001   두산  133  109   3  3541  1599  140  0.979  12  126   56  30.8
..    ...  ...  ...  ...  ..   ...   ...  ...    ...  ..  ...  ...   ...
169  2020   SK   69   47   2  1819   642   68  0.981   1   77   25  24.5
170  2020   KT   68   43   4  1816   702   68  0.983   8   30   11  26.8
171  2020   삼성   68   44   4  1791   634   68  0.982   2   29   17  37.0
172  2020   롯데   66   33   0  1772   675   63  0.987   4   49   16  24.6
173  2020  KIA   66   41   4  1739   699   74  0.983   2   40   18  31.0

[174 rows x 13 columns]

In [ ]:
data.to_csv('kbo_2001_2020_defense.csv', encoding='cp949')

# kbo 2001-2020 주루

In [ ]:
yrs = list()
for i in range(2001, 2021) : yrs.append(i)
pre_df = list()

target_site = f'https://www.koreabaseball.com/Record/Team/Runner/Basic.aspx'
driver.get(target_site)

for yr in yrs :
    yr_sel = driver.find_element_by_class_name('select03')
    yr_sel.send_keys(yr)
    time.sleep(1)

    results = list()
    for tr in driver.find_elements_by_css_selector('#cphContents_cphContents_cphContents_udpContent > div > table > tbody') :
        results.append(tr.text.split())

    result = results[0]
    rg = int(len(result)/9)

    for i in range (0, rg) :
        pre_df.append({
            "연도" : yr,
            "팀명" : result[9 * i + 1],
            "경기" : result[9 * i + 2],
            '도루시도' : result[9 * i + 3], 
            '도루허용' : result[9 * i + 4], 
            '도루실패' : result[9 * i + 5], 
            '도루성공률' : result[9 * i + 6], 
            '주루사' : result[9 * i + 7],
            '견제사' : result[9 * i + 8]
        })

In [ ]:
data = pd.DataFrame(pre_df)
data

       연도   팀명   경기 도루시도 도루허용 도루실패 도루성공률 주루사 견제사
0    2001   한화  133  200  135   65  67.5   0   0
1    2001   두산  133  166  132   34  79.5   0   0
2    2001   SK  133  182  123   59  67.6   0   0
3    2001   롯데  133  159  106   53  66.7   0   0
4    2001   현대  133  154   99   55  64.3   0   0
..    ...  ...  ...  ...  ...  ...   ...  ..  ..
169  2020   LG   68   64   42   22  65.6  30   2
170  2020   SK   69   59   38   21  64.4  21   9
171  2020   두산   68   52   35   17  67.3  27   1
172  2020   한화   70   54   34   20  63.0  23   2
173  2020  KIA   66   28   19    9  67.9  19   3

[174 rows x 9 columns]

In [ ]:
data.to_csv('kbo_2001_2020_runner.csv', encoding='cp949')

In [ ]:
driver.close()
driver.quit()